/* michnowi.cz - Arkusz CSS dla urzadzen mobilnych
autor: Mateusz 'michno' Michnowicz
e-mail: mateusz.michnowicz@gmail.com */

@media screen and (min-width: 1025px) {
    body {
        background: url(../images/bg.jpg) no-repeat top center #fff;
    
        .slicknav_menu { display: none; }
    
        nav .content {
            height: 2.5em;
            max-width: 970px; 
            width: 70%;
            
            h1 { 
                display: inline-block; 
                height: 120px;
                width: 120px;

                background-size: 100px; 
            }
            
            ul { display: inline-block; }
            
            .mailto { display: inline-block; }

        }
            
        header { display: block; }
    
        section {
            
            .content {
                max-width: 970px; 
                width: 70%; 

                padding: .75em 1em 1em;

                h3 { padding: .5em 0; }
    
                .gallery a { width: 24%; }
                
                .project-image { float: left; }
            }
            
            &#bio .photo {    
                display: block;
                height: 150px;
                width: 150px;

                float: left;
                padding: 1em; 
            }
            
            &#portfolio .content .single-item {
                .preview, .desc { width: 50%;}
                .preview { text-align: center;

                }
            }
            
            &#finished ul { padding: 0; }
            
            &#contact h3 { text-align: left; }
        }
    
        footer p { line-height: 0.5em; }
    }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
    body {
        background: url(../images/bg.jpg) no-repeat top center #fff;
        
        .slicknav_menu { display: none; }
    
        nav .content { 
            height: 2.5em;
            width: 100%; 
        
            text-align: center;
            
            h1 { 
                display: inline-block;
                height: 40px; 
                width: 120px;
                
                background-size: contain;
            }
            
            ul {
                display: inline-block;
                
                li { padding: 0 2em; }
            }
            
            .mailto { display: none; }    
        }
        
        header { display: block; }
    
        section {
        
            .content { 
                width: 100%; 

                padding: .75em 0 1em;

                div, h3, p, span { padding: 0 1em; }

                .project-image { float: left; } 
                
                .gallery a { width: 24%; }
            }
            
            &#bio .photo {     
                display: block;
                height: 150px;
                width: 150px;
                               
                float: left;
                padding: 1em; 
            }
            
            &#portfolio .content .single-item {
                .preview, .desc { width: 100%;}
                .preview { text-align: center;

                }
            
            }
            
            &#finished ul li { padding: 0em 1em; }
            
            &#contact h3 { text-align: left; }
        }
        
        footer p { line-height: 1em; }
    }

}

@media screen and (max-width: 799px) {
    body {
        background: #fff;
    
        .slicknav_menu { 
            width: 97%; 
            margin: .60em 0 0em; 
            padding: 0em;
            
            position: absolute;
            text-align: right;
            
            a {
                color: #fff; 
                text-decoration: none;
            }
            
            .slicknav_menutxt { font-size: 2.1em; }
            .slicknav_icon { display: none; }
            .slicknav_nav { 
                width: 100%; 
                margin: 0.40em 0 0; 
                padding: 0 0.5em 0 0;
                
                background: #29292d;
                font-size: 1.3em;  
                list-style: none; 
                text-align: center; 
                
                li { padding: 1em 0 1em 1em;} 
            }
        }
        
        nav { 
            height: 3em;
            
            .content {
                h1 {
                    height: 2.0em; 
                    width: 120px;
                    
                    background-size: contain;
                }
                
                ul, .mailto { display: none; }
            }
        }
    
        header { display: none; }
    
        section {
        
            .content { 
                width: 100%; 
                padding: .75em 0 1em;
                
                font-size: 1.15em;
                line-height: 1.3em; 
                overflow: visible; 
                
                h3 { 
                    padding: 0 1em; 
                    text-align: center;
                }
                
                div, p, span { padding: 0 1em; }
        
                .gallery a { width: 240px; }
                                
            }
                        
            &#bio {
                
                .photo {
                display: block;
                width: 200px;
                margin: 0 auto;
                padding: 0;

                text-align: center;
                }
                
                h2 {
                    padding: 0 1em;
                
                    text-align: center; 
                }
            }
            
            &#portfolio .content ul { display: none; }
            
            &#portfolio .content .single-item {
                .preview, .desc { width: 100%;}
                .preview { text-align: center;
       
                }
            }
            
            
            &#projects .content div { 
                
                .project-image {
                    margin: 0 auto;
                    display: block;

                    float: none;
                }
                    
                h4 { text-align: center; }
                
                p { padding: 0; }
            }
            
            &#finished ul { padding: 1em; }
            
            &#contact h3 { text-align: center; } 
        }
        
         footer p { line-height: 1em; }
    
    } 
}