/* michnowi.cz - Glowny arkusz CSS
autor: Mateusz 'michno' Michnowicz
e-mail: mateusz.michnowicz@gmail.com */

// IMPORT ZEWNETRZNYCH ARKUSZY, IKON, FONTU; DODANIE ZMIENNYCH

@import "compass/utilities/sprites";
@import "icons/*.png";
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,700&subset=latin,latin-ext);
@import "animate.scss";

@include all-icons-sprites;

$red: #b81d1d;
$black: #29292d;
$gray: #999;

html {
    margin: 0;
    padding: 0;
    
    body {
        margin: 0;
        padding: 0;
        
        color: $black;
        font-family: 'Fira Sans', sans-serif;
        font-size: 1em;
        line-height: 1.6em;
        top: 0;
    
        a {
            color: $red;

            &:hover {
                text-decoration: none;
            }

            &:visited {
                opacity: 0.5;
                text-decoration: none;
            }
        }

        // NAWIGACJA
        
        nav {
            display: block;
            width: 100%;
            
            background: $black;
            color: #fff; 
            overflow: visible;

            .content {
                display: block;
                margin: 0 auto;

                h1 {
                    margin: 0;
                    padding: 0;
                    
                    background-color: $red;
                    background-image: url(../images/logotype.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    float: left;
                    text-indent: -9999px;
                }

                ul {
                    margin: 0.6em 0 0 1em;
                    padding-left: 0;
                    
                    float: left;
                    
                    li {
                        display: inline;
                        margin: 0 1em;

                        a {
                            color: #fff;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .mailto {
                    margin-top: .6em;
                    
                    color: rgba(255,255,255,.4);
                    float: right;
                    font-size: .95em;

                    a {
                        color: white;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

            }

        }

        // NAGLOWEK-SLOGAN
        
        header {
            width: 100%;
            margin: 2em auto;
            
            color: #fff;
            overflow: hidden;
            text-align: center;
            
            h4 {
                font-size: 1em;
                font-weight: 400;
            }

            h2 {
                font-size: 3.5em;
                font-weight: 700;
                line-height: 0;
                text-transform: uppercase;
            }
        }
        
        section {
            width: 100%;
            padding: .5em 0;
        
            text-align: justify;

            .content { margin: 0 auto; }

            // KROTKA NOTKA O SOBIE
            
            &#bio {
                display: block;
                padding-bottom: 0;        

                .content {
                    background: #fff;

                    h2 { margin-bottom: 0em; }

                    .photo { 
                        border-top-left-radius: 150px;
                        border-top-right-radius: 150px;
                        border-bottom-left-radius: 150px;
                        border-bottom-right-radius: 150px; 
                    }

                    a:after {
                        display: inline-block;
                        width: 16px;
                        height: 14px;
                        margin-left: 4px;
                        
                        background: url('../images/external.png') no-repeat center;
                        content:'';
                    }
                }
            }

            // OSTATNIE PRACE
            
            &#portfolio {
                margin-top: 0;
                padding-top: 0;

                .content {
                    background-color: #fff;

                    ul {
                        margin: 0;
                        padding: 0;

                        text-align: center;

                        li {
                            display: inline-block;
                            width: 24%;
                            padding: .5em 0;
                        
                            text-decoration: underline;

                            &.current {
                                background: $red;
                                color: #fff;
                                text-decoration: none;

                                &:hover { text-decoration: none; }
                            }

                            &:hover {
                                background: $red;
                                color: white;
                                cursor: pointer;
                            }
                        }
                    }
                    
                    .single-item {
                        display: none;
                                opacity: 0;
                        margin-top: 20px;
                        height: 0px;
                        
                        .preview {
                            padding: 0;
                            //width: 50%;
                            float: left;
                            display: block;
                            
                            img {
                              width: 100%;
                            }
                            
                            small {
                                display: block;
                                text-align: center;
                            }
                        }
                        
                        .desc {
                            vertical-align: top;
                            box-sizing: border-box;
                            float: right;
                            //width: 50%;
                            padding: 0px 20px;
                            
                            
                            .close {
                                display: block;
                                text-align: center;
                                background: $red;
                                color: white;
                               // width: 50%;
                                margin: 2em auto;
                                padding: .5em 1em;
                                
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    
                    }

                    .gallery {
                        margin-top: 0.5em;
                        
                        text-align: center;

                           img {
                               width: 230px;
                                margin: 0;   
                                padding: 0em;
                                                            
                                &:hover { 
                                    cursor: pointer;
                                    opacity: 0.66; 
                                }
                            }

                    }

                }
            }
            
            // ODNOSNIKI DO INNYCH SPOLECZNOSCIOWEK DLA ARTYSTOW

            &#art {
                background-color: $red;
                color: #fff;
                text-align: center;
                padding: 0.3em 0;

                ul li {
                    display: inline-block;

                    a {
                        display: block;
                        height: 48px;
                        width: 48px;
                    
                        text-indent: -9999px;

                        &.be { @include icons-sprite(behance); }

                        &.da { @include icons-sprite(deviantart); }
                    }            
                }
            }

            // PROJEKTY PO GODZINACH
            
            &#projects {

                .content div {
                    display: block;
                    margin: 2em 0;
                    
                    overflow: hidden;

                    img { padding-right: 1em; }

                    h4 { 
                        margin: 0.5em 0 0em;
                        
                        a:after {
                            display: inline-block;
                            height: 14px;
                            width: 16px;
                            margin-left: 4px;
                        
                            content:'';
                            background: url(../images/external.png) no-repeat center;
                        }
                    }

                    p { margin-top: 0.3em; }
                }
            }

            // ZAKONCZONE/WSTRZYMANE PROJEKTY

            &#finished {
                background-color: $gray;
                color: #fff;

                ul {
                    margin: 0;
                    
                    list-style: none;
                    
                    li {
                        margin: 10px 0;   

                        a { 
                            color: #fff; 

                            &:after {
                                display: inline-block;
                                height: 14px;
                                width: 16px;
                                margin-left: 4px;
                            
                                background: url(../images/external-white.png) no-repeat center;
                                content:'';
                            }
                        }
                    }
                }
            }

            // KONTAKT
            
            &#contact {
                text-align: center;

                p { 
                    margin-bottom: 2.5em;
                    
                    text-align: justify;
                }

                span {
                    line-height: 1.5em;

                     a { 
                        font-size: 1.2em;
                        font-weight: 700;
                    }
                }

                ul li { 
                    display: inline-block;
                    margin: 1.5em 1em 0;

                    a {
                        display: block;
                        height: 48px;
                        width: 48px;
                        
                        text-indent: -9999px;

                        &.fb { @include icons-sprite(facebook); }

                        &.linkedin { @include icons-sprite(linkedin); }

                        &.bitbucket { @include icons-sprite(bitbucket); }

                        &.twitter { @include icons-sprite(twitter); }

                        &.skype { @include icons-sprite(skype); }
                    }
                }
            }
        }

        // WINDA NA GORE
        
        .arrow-up {
            display: inline-block;
            height: 50px;
            width: 75px;
            
            background: url(../images/icons/arrow-up.svg) no-repeat center $red;
            background-size: 60px 30px;
            bottom: 0;            
            position: fixed;
            right: 20px;

            &:hover {
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-name: zoomin-arrow;
                
                -webkit-animation-duration: 1s;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-name: zoomin-arrow;
                
                -moz-animation-duration: 1s;
                -moz-animation-iteration-count: infinite;
                -moz-animation-name: zoomin-arrow;
            }
        }
        
        // STOPKA
        
        footer {
            padding: .4em;
            
            background-color: $black;
            color: rgba(255,255,255,0.3);
            font-size: .75em;
            text-align: center;
        }
        
        // DODATKOWE STYLOWANIE DLA GALERII - NAKLADKA
        
        .overlay {
            display: none;
            height: 100%;
            width: 100%;
            padding-top: 2em;
            
            background: rgba(0,0,0,.5);
            color: #fff;
            overflow: visible;
            position: fixed;
            text-align: center;
            top: 0;
            z-index: 999;            
        }
        
        // DODATKOWE STYLOWANIE DLA GALERII - OBRAZEK
        
        .imgLight {
            box-shadow: 0px 0px 10px #000;
            position: fixed;
            z-index: 9999;

            -ms-touch-action: none;
            touch-action: none;
        }
    } 
}