/* michnowi.cz - Arkusz CSS dla starszych przegladarek IE
autor: Mateusz 'michno' Michnowicz
e-mail: mateusz.michnowicz@gmail.com */
/* line 5, ../sass/ie.scss */
.photo {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
