/* michnowi.cz - Arkusz CSS dla urzadzen mobilnych
autor: Mateusz 'michno' Michnowicz
e-mail: mateusz.michnowicz@gmail.com */
@media screen and (min-width: 1025px) {
  /* line 6, ../sass/mobile.scss */
  body {
    background: url(../images/bg.jpg) no-repeat top center #fff;
  }
  /* line 9, ../sass/mobile.scss */
  body .slicknav_menu {
    display: none;
  }
  /* line 11, ../sass/mobile.scss */
  body nav .content {
    height: 2.5em;
    max-width: 970px;
    width: 70%;
  }
  /* line 16, ../sass/mobile.scss */
  body nav .content h1 {
    display: inline-block;
    height: 120px;
    width: 120px;
    background-size: 100px;
  }
  /* line 24, ../sass/mobile.scss */
  body nav .content ul {
    display: inline-block;
  }
  /* line 26, ../sass/mobile.scss */
  body nav .content .mailto {
    display: inline-block;
  }
  /* line 30, ../sass/mobile.scss */
  body header {
    display: block;
  }
  /* line 34, ../sass/mobile.scss */
  body section .content {
    max-width: 970px;
    width: 70%;
    padding: .75em 1em 1em;
  }
  /* line 40, ../sass/mobile.scss */
  body section .content h3 {
    padding: .5em 0;
  }
  /* line 42, ../sass/mobile.scss */
  body section .content .gallery a {
    width: 24%;
  }
  /* line 44, ../sass/mobile.scss */
  body section .content .project-image {
    float: left;
  }
  /* line 47, ../sass/mobile.scss */
  body section#bio .photo {
    display: block;
    height: 150px;
    width: 150px;
    float: left;
    padding: 1em;
  }
  /* line 57, ../sass/mobile.scss */
  body section#portfolio .content .single-item .preview, body section#portfolio .content .single-item .desc {
    width: 50%;
  }
  /* line 58, ../sass/mobile.scss */
  body section#portfolio .content .single-item .preview {
    text-align: center;
  }
  /* line 63, ../sass/mobile.scss */
  body section#finished ul {
    padding: 0;
  }
  /* line 65, ../sass/mobile.scss */
  body section#contact h3 {
    text-align: left;
  }
  /* line 68, ../sass/mobile.scss */
  body footer p {
    line-height: 0.5em;
  }
}
@media screen and (min-width: 800px) and (max-width: 1024px) {
  /* line 73, ../sass/mobile.scss */
  body {
    background: url(../images/bg.jpg) no-repeat top center #fff;
  }
  /* line 76, ../sass/mobile.scss */
  body .slicknav_menu {
    display: none;
  }
  /* line 78, ../sass/mobile.scss */
  body nav .content {
    height: 2.5em;
    width: 100%;
    text-align: center;
  }
  /* line 84, ../sass/mobile.scss */
  body nav .content h1 {
    display: inline-block;
    height: 40px;
    width: 120px;
    background-size: contain;
  }
  /* line 92, ../sass/mobile.scss */
  body nav .content ul {
    display: inline-block;
  }
  /* line 95, ../sass/mobile.scss */
  body nav .content ul li {
    padding: 0 2em;
  }
  /* line 98, ../sass/mobile.scss */
  body nav .content .mailto {
    display: none;
  }
  /* line 101, ../sass/mobile.scss */
  body header {
    display: block;
  }
  /* line 105, ../sass/mobile.scss */
  body section .content {
    width: 100%;
    padding: .75em 0 1em;
  }
  /* line 110, ../sass/mobile.scss */
  body section .content div, body section .content h3, body section .content p, body section .content span {
    padding: 0 1em;
  }
  /* line 112, ../sass/mobile.scss */
  body section .content .project-image {
    float: left;
  }
  /* line 114, ../sass/mobile.scss */
  body section .content .gallery a {
    width: 24%;
  }
  /* line 117, ../sass/mobile.scss */
  body section#bio .photo {
    display: block;
    height: 150px;
    width: 150px;
    float: left;
    padding: 1em;
  }
  /* line 127, ../sass/mobile.scss */
  body section#portfolio .content .single-item .preview, body section#portfolio .content .single-item .desc {
    width: 100%;
  }
  /* line 128, ../sass/mobile.scss */
  body section#portfolio .content .single-item .preview {
    text-align: center;
  }
  /* line 134, ../sass/mobile.scss */
  body section#finished ul li {
    padding: 0em 1em;
  }
  /* line 136, ../sass/mobile.scss */
  body section#contact h3 {
    text-align: left;
  }
  /* line 139, ../sass/mobile.scss */
  body footer p {
    line-height: 1em;
  }
}
@media screen and (max-width: 799px) {
  /* line 145, ../sass/mobile.scss */
  body {
    background: #fff;
  }
  /* line 148, ../sass/mobile.scss */
  body .slicknav_menu {
    width: 97%;
    margin: .60em 0 0em;
    padding: 0em;
    position: absolute;
    text-align: right;
  }
  /* line 156, ../sass/mobile.scss */
  body .slicknav_menu a {
    color: #fff;
    text-decoration: none;
  }
  /* line 161, ../sass/mobile.scss */
  body .slicknav_menu .slicknav_menutxt {
    font-size: 2.1em;
  }
  /* line 162, ../sass/mobile.scss */
  body .slicknav_menu .slicknav_icon {
    display: none;
  }
  /* line 163, ../sass/mobile.scss */
  body .slicknav_menu .slicknav_nav {
    width: 100%;
    margin: 0.40em 0 0;
    padding: 0 0.5em 0 0;
    background: #29292d;
    font-size: 1.3em;
    list-style: none;
    text-align: center;
  }
  /* line 173, ../sass/mobile.scss */
  body .slicknav_menu .slicknav_nav li {
    padding: 1em 0 1em 1em;
  }
  /* line 177, ../sass/mobile.scss */
  body nav {
    height: 3em;
  }
  /* line 181, ../sass/mobile.scss */
  body nav .content h1 {
    height: 2.0em;
    width: 120px;
    background-size: contain;
  }
  /* line 188, ../sass/mobile.scss */
  body nav .content ul, body nav .content .mailto {
    display: none;
  }
  /* line 192, ../sass/mobile.scss */
  body header {
    display: none;
  }
  /* line 196, ../sass/mobile.scss */
  body section .content {
    width: 100%;
    padding: .75em 0 1em;
    font-size: 1.15em;
    line-height: 1.3em;
    overflow: visible;
  }
  /* line 204, ../sass/mobile.scss */
  body section .content h3 {
    padding: 0 1em;
    text-align: center;
  }
  /* line 209, ../sass/mobile.scss */
  body section .content div, body section .content p, body section .content span {
    padding: 0 1em;
  }
  /* line 211, ../sass/mobile.scss */
  body section .content .gallery a {
    width: 240px;
  }
  /* line 217, ../sass/mobile.scss */
  body section#bio .photo {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
  /* line 226, ../sass/mobile.scss */
  body section#bio h2 {
    padding: 0 1em;
    text-align: center;
  }
  /* line 233, ../sass/mobile.scss */
  body section#portfolio .content ul {
    display: none;
  }
  /* line 236, ../sass/mobile.scss */
  body section#portfolio .content .single-item .preview, body section#portfolio .content .single-item .desc {
    width: 100%;
  }
  /* line 237, ../sass/mobile.scss */
  body section#portfolio .content .single-item .preview {
    text-align: center;
  }
  /* line 245, ../sass/mobile.scss */
  body section#projects .content div .project-image {
    margin: 0 auto;
    display: block;
    float: none;
  }
  /* line 252, ../sass/mobile.scss */
  body section#projects .content div h4 {
    text-align: center;
  }
  /* line 254, ../sass/mobile.scss */
  body section#projects .content div p {
    padding: 0;
  }
  /* line 257, ../sass/mobile.scss */
  body section#finished ul {
    padding: 1em;
  }
  /* line 259, ../sass/mobile.scss */
  body section#contact h3 {
    text-align: center;
  }
  /* line 262, ../sass/mobile.scss */
  body footer p {
    line-height: 1em;
  }
}
