/* michnowi.cz - Glowny arkusz CSS
autor: Mateusz 'michno' Michnowicz
e-mail: mateusz.michnowicz@gmail.com */
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,700&subset=latin,latin-ext);
/* line 96, icons/*.png */
.icons-sprite, .icons-behance, .icons-bitbucket, .icons-deviantart, .icons-facebook, .icons-linkedin, .icons-skype, .icons-twitter, html body section#art ul li a.be, html body section#art ul li a.da, html body section#contact ul li a.fb, html body section#contact ul li a.linkedin, html body section#contact ul li a.bitbucket, html body section#contact ul li a.twitter, html body section#contact ul li a.skype {
  background-image: url('/images/icons-s122b8f7473.png');
  background-repeat: no-repeat;
}

@keyframes zoomin-arrow {
  0%, 100% {
    background-size: 60px 30px;
  }
  25% {
    background-size: 65px 35px;
  }
}
@-webkit-keyframes zoomin-arrow {
  0%, 100% {
    background-size: 60px 30px;
  }
  25% {
    background-size: 65px 35px;
  }
}
@keyframes zoomin {
  0%,100% {
    width: 100%;
    height: 100%;
  }
  50% {
    width: 110%;
    height: 110%;
  }
}
@-webkit-keyframes zoomin {
  0%, 100% {
    opacity: 1;
  }
  50% {
    background: #b81d1d;
    opacity: 0.3;
  }
}
/* line 84, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-behance {
  background-position: 0 0;
}

/* line 84, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-bitbucket {
  background-position: 0 -48px;
}

/* line 84, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-deviantart {
  background-position: 0 -96px;
}

/* line 84, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-facebook {
  background-position: 0 -144px;
}

/* line 84, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-linkedin {
  background-position: 0 -192px;
}

/* line 84, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-skype {
  background-position: 0 -240px;
}

/* line 84, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-twitter {
  background-position: 0 -288px;
}

/* line 18, ../sass/screen.scss */
html {
  margin: 0;
  padding: 0;
}
/* line 22, ../sass/screen.scss */
html body {
  margin: 0;
  padding: 0;
  color: #29292d;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1em;
  line-height: 1.6em;
  top: 0;
}
/* line 32, ../sass/screen.scss */
html body a {
  color: #b81d1d;
}
/* line 35, ../sass/screen.scss */
html body a:hover {
  text-decoration: none;
}
/* line 39, ../sass/screen.scss */
html body a:visited {
  opacity: 0.5;
  text-decoration: none;
}
/* line 47, ../sass/screen.scss */
html body nav {
  display: block;
  width: 100%;
  background: #29292d;
  color: #fff;
  overflow: visible;
}
/* line 55, ../sass/screen.scss */
html body nav .content {
  display: block;
  margin: 0 auto;
}
/* line 59, ../sass/screen.scss */
html body nav .content h1 {
  margin: 0;
  padding: 0;
  background-color: #b81d1d;
  background-image: url(../images/logotype.svg);
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  text-indent: -9999px;
}
/* line 71, ../sass/screen.scss */
html body nav .content ul {
  margin: 0.6em 0 0 1em;
  padding-left: 0;
  float: left;
}
/* line 77, ../sass/screen.scss */
html body nav .content ul li {
  display: inline;
  margin: 0 1em;
}
/* line 81, ../sass/screen.scss */
html body nav .content ul li a {
  color: #fff;
  text-decoration: none;
}
/* line 85, ../sass/screen.scss */
html body nav .content ul li a:hover {
  text-decoration: underline;
}
/* line 92, ../sass/screen.scss */
html body nav .content .mailto {
  margin-top: .6em;
  color: rgba(255, 255, 255, 0.4);
  float: right;
  font-size: .95em;
}
/* line 99, ../sass/screen.scss */
html body nav .content .mailto a {
  color: white;
  text-decoration: none;
}
/* line 103, ../sass/screen.scss */
html body nav .content .mailto a:hover {
  text-decoration: underline;
}
/* line 115, ../sass/screen.scss */
html body header {
  width: 100%;
  margin: 2em auto;
  color: #fff;
  overflow: hidden;
  text-align: center;
}
/* line 123, ../sass/screen.scss */
html body header h4 {
  font-size: 1em;
  font-weight: 400;
}
/* line 128, ../sass/screen.scss */
html body header h2 {
  font-size: 3.5em;
  font-weight: 700;
  line-height: 0;
  text-transform: uppercase;
}
/* line 136, ../sass/screen.scss */
html body section {
  width: 100%;
  padding: .5em 0;
  text-align: justify;
}
/* line 142, ../sass/screen.scss */
html body section .content {
  margin: 0 auto;
}
/* line 146, ../sass/screen.scss */
html body section#bio {
  display: block;
  padding-bottom: 0;
}
/* line 150, ../sass/screen.scss */
html body section#bio .content {
  background: #fff;
}
/* line 153, ../sass/screen.scss */
html body section#bio .content h2 {
  margin-bottom: 0em;
}
/* line 155, ../sass/screen.scss */
html body section#bio .content .photo {
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
}
/* line 162, ../sass/screen.scss */
html body section#bio .content a:after {
  display: inline-block;
  width: 16px;
  height: 14px;
  margin-left: 4px;
  background: url("../images/external.png") no-repeat center;
  content: '';
}
/* line 176, ../sass/screen.scss */
html body section#portfolio {
  margin-top: 0;
  padding-top: 0;
}
/* line 180, ../sass/screen.scss */
html body section#portfolio .content {
  background-color: #fff;
}
/* line 183, ../sass/screen.scss */
html body section#portfolio .content ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 189, ../sass/screen.scss */
html body section#portfolio .content ul li {
  display: inline-block;
  width: 24%;
  padding: .5em 0;
  text-decoration: underline;
}
/* line 196, ../sass/screen.scss */
html body section#portfolio .content ul li.current {
  background: #b81d1d;
  color: #fff;
  text-decoration: none;
}
/* line 201, ../sass/screen.scss */
html body section#portfolio .content ul li.current:hover {
  text-decoration: none;
}
/* line 204, ../sass/screen.scss */
html body section#portfolio .content ul li:hover {
  background: #b81d1d;
  color: white;
  cursor: pointer;
}
/* line 212, ../sass/screen.scss */
html body section#portfolio .content .single-item {
  display: none;
  opacity: 0;
  margin-top: 20px;
  height: 0px;
}
/* line 218, ../sass/screen.scss */
html body section#portfolio .content .single-item .preview {
  padding: 0;
  float: left;
  display: block;
}
/* line 224, ../sass/screen.scss */
html body section#portfolio .content .single-item .preview img {
  width: 100%;
}
/* line 228, ../sass/screen.scss */
html body section#portfolio .content .single-item .preview small {
  display: block;
  text-align: center;
}
/* line 234, ../sass/screen.scss */
html body section#portfolio .content .single-item .desc {
  vertical-align: top;
  box-sizing: border-box;
  float: right;
  padding: 0px 20px;
}
/* line 242, ../sass/screen.scss */
html body section#portfolio .content .single-item .desc .close {
  display: block;
  text-align: center;
  background: #b81d1d;
  color: white;
  margin: 2em auto;
  padding: .5em 1em;
}
/* line 251, ../sass/screen.scss */
html body section#portfolio .content .single-item .desc .close:hover {
  cursor: pointer;
}
/* line 259, ../sass/screen.scss */
html body section#portfolio .content .gallery {
  margin-top: 0.5em;
  text-align: center;
}
/* line 264, ../sass/screen.scss */
html body section#portfolio .content .gallery img {
  width: 230px;
  margin: 0;
  padding: 0em;
}
/* line 269, ../sass/screen.scss */
html body section#portfolio .content .gallery img:hover {
  cursor: pointer;
  opacity: 0.66;
}
/* line 282, ../sass/screen.scss */
html body section#art {
  background-color: #b81d1d;
  color: #fff;
  text-align: center;
  padding: 0.3em 0;
}
/* line 288, ../sass/screen.scss */
html body section#art ul li {
  display: inline-block;
}
/* line 291, ../sass/screen.scss */
html body section#art ul li a {
  display: block;
  height: 48px;
  width: 48px;
  text-indent: -9999px;
}
/* line 298, ../sass/screen.scss */
html body section#art ul li a.be {
  background-position: 0 0;
}
/* line 300, ../sass/screen.scss */
html body section#art ul li a.da {
  background-position: 0 -96px;
}
/* line 309, ../sass/screen.scss */
html body section#projects .content div {
  display: block;
  margin: 2em 0;
  overflow: hidden;
}
/* line 315, ../sass/screen.scss */
html body section#projects .content div img {
  padding-right: 1em;
}
/* line 317, ../sass/screen.scss */
html body section#projects .content div h4 {
  margin: 0.5em 0 0em;
}
/* line 320, ../sass/screen.scss */
html body section#projects .content div h4 a:after {
  display: inline-block;
  height: 14px;
  width: 16px;
  margin-left: 4px;
  content: '';
  background: url(../images/external.png) no-repeat center;
}
/* line 331, ../sass/screen.scss */
html body section#projects .content div p {
  margin-top: 0.3em;
}
/* line 337, ../sass/screen.scss */
html body section#finished {
  background-color: #999;
  color: #fff;
}
/* line 341, ../sass/screen.scss */
html body section#finished ul {
  margin: 0;
  list-style: none;
}
/* line 346, ../sass/screen.scss */
html body section#finished ul li {
  margin: 10px 0;
}
/* line 349, ../sass/screen.scss */
html body section#finished ul li a {
  color: #fff;
}
/* line 352, ../sass/screen.scss */
html body section#finished ul li a:after {
  display: inline-block;
  height: 14px;
  width: 16px;
  margin-left: 4px;
  background: url(../images/external-white.png) no-repeat center;
  content: '';
}
/* line 368, ../sass/screen.scss */
html body section#contact {
  text-align: center;
}
/* line 371, ../sass/screen.scss */
html body section#contact p {
  margin-bottom: 2.5em;
  text-align: justify;
}
/* line 377, ../sass/screen.scss */
html body section#contact span {
  line-height: 1.5em;
}
/* line 380, ../sass/screen.scss */
html body section#contact span a {
  font-size: 1.2em;
  font-weight: 700;
}
/* line 386, ../sass/screen.scss */
html body section#contact ul li {
  display: inline-block;
  margin: 1.5em 1em 0;
}
/* line 390, ../sass/screen.scss */
html body section#contact ul li a {
  display: block;
  height: 48px;
  width: 48px;
  text-indent: -9999px;
}
/* line 397, ../sass/screen.scss */
html body section#contact ul li a.fb {
  background-position: 0 -144px;
}
/* line 399, ../sass/screen.scss */
html body section#contact ul li a.linkedin {
  background-position: 0 -192px;
}
/* line 401, ../sass/screen.scss */
html body section#contact ul li a.bitbucket {
  background-position: 0 -48px;
}
/* line 403, ../sass/screen.scss */
html body section#contact ul li a.twitter {
  background-position: 0 -288px;
}
/* line 405, ../sass/screen.scss */
html body section#contact ul li a.skype {
  background-position: 0 -240px;
}
/* line 413, ../sass/screen.scss */
html body .arrow-up {
  display: inline-block;
  height: 50px;
  width: 75px;
  background: url(../images/icons/arrow-up.svg) no-repeat center #b81d1d;
  background-size: 60px 30px;
  bottom: 0;
  position: fixed;
  right: 20px;
}
/* line 424, ../sass/screen.scss */
html body .arrow-up:hover {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: zoomin-arrow;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: zoomin-arrow;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-name: zoomin-arrow;
}
/* line 441, ../sass/screen.scss */
html body footer {
  padding: .4em;
  background-color: #29292d;
  color: rgba(255, 255, 255, 0.3);
  font-size: .75em;
  text-align: center;
}
/* line 452, ../sass/screen.scss */
html body .overlay {
  display: none;
  height: 100%;
  width: 100%;
  padding-top: 2em;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  overflow: visible;
  position: fixed;
  text-align: center;
  top: 0;
  z-index: 999;
}
/* line 469, ../sass/screen.scss */
html body .imgLight {
  box-shadow: 0px 0px 10px #000;
  position: fixed;
  z-index: 9999;
  -ms-touch-action: none;
  touch-action: none;
}
